/*!*.filter__btn-active {*! БЭМ методология */
/*  background-color: lightgreen;*/
/*}*/

.task {
  font-weight: bold;
}

.app {
  display: flex;
  flex-direction: column;
  width: 100vw;
}

.is-done {
  opacity: 0.5;
  text-decoration: line-through;
}
.circularProgressContainer {
  position: fixed;
  top: 30%;
  text-align: center;
  width: 100%;
}